<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
      ><a routerLink="/">SISCOPE</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Maestros</d-breadcrumb-item>
      <d-breadcrumb-item>Planta</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">
      Listado de Plantas
    </div>
    <div>Lista de las <strong>plantas</strong> incluidos en el sistema</div>
  </div>
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <div class="da-header-item">
                <div class="da-header-item-label">Buscar：</div>
                <d-search style="width: 200px" [size]="'sm'" [autoFocus]="true" placeholder='Ingrese el texto' [isKeyupSearch]="true" [(ngModel)]="DatoABuscar" (searchFn)="onSearch($event)" ></d-search>
              </div>
            </div>
            <div class="header-right">
              <d-button icon="icon-edit" (click)="reset( )">Limpiar</d-button>&nbsp;
              <d-button icon="icon-add-2" (click)="newRow()">Nuevo</d-button>&nbsp;
              <d-button icon="icon-refresh" (click)="refresh()">Refrescar</d-button>
            </div>
          </div>

          <div class="list-content" dLoading [loading]="busy" [loadingStyle]="'infinity'" [backdrop]="true" [message]="'Espere un momento...'" >
            <d-data-table
              [dataSource]="basicDataSource"
              [scrollable]="true"
              [striped]="true"
              [headerBg]="true"
              [resizeable]='true'
              [tableLayout]="'auto'"
            >
              <!--d-column field="plantaDto" header="Id" [width]="'100px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem.idPlanta }}
                  </ng-template>
                </d-cell>
              </d-column-->
              <d-column field="plantaDto" header="Nombre" [width]="'200px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'200px'">
                      {{ cellItem.nombrePlanta }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="relPlantaDestinoDto" header="Destino" [width]="'200px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'200px'">
                      {{ getDestino(cellItem) }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="relCliente" header="Cliente" [width]="'300px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span class="over-flow-ellipsis" [style.width]="'300px'">
                      <div [innerHTML]="getNombre(cellItem)"></div>
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="plantaDto" header="Estado" [width]="'80px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem.estado" class="over-flow-ellipsis" [style.width]="'80px'">
                      <d-tag [tag]="cellItem.estado.toString()=='true'?'ACTIVO':'INACTIVO'" [labelStyle]="cellItem.estado.toString()=='true'?'blue-w98':'red-w98'"></d-tag>
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="plantaDto" header="Localización" [width]="'100px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'100px'">
                      {{ cellItem.codUbigeo.distrito }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="Actions" header="Acciones" [width]="'150px'">
                <d-cell>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <d-icon icon="icon-edit" (click)="editRow(rowItem, rowIndex)" dIconLink>
                      <a iconSuffix class="devui-link" href="" ></a>
                    </d-icon>
                    &nbsp;
                    <d-icon icon="icon-delete" (click)="deleteRow(rowItem, rowIndex)" dIconLink>
                      <a iconSuffix class="devui-link" href=""></a>
                    </d-icon>
                    &nbsp;
                    <d-icon icon="icon-connect" (click)="onRelacional(rowItem, rowIndex)" dIconLink>
                      <a iconSuffix class="devui-link" href=""></a>
                    </d-icon>
                  </ng-template>
                </d-cell>
              </d-column>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination
              [size]="'sm'"
              [total]="pager.total"
              [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex"
              [canViewTotal]="true"
              [canChangePageSize]="true"
              [canJumpPage]="true"
              [maxItems]="5"
              (pageIndexChange)="onPageChange($event)"
              (pageSizeChange)="onSizeChange($event)"
            >
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>
<ng-template #EditorTemplate>
  <da-admin-form [formConfig]="formConfig" [formData]="formData" (submitted)="onSubmitted($event)" (canceled)="onCanceled()" (adicional)='onAdicional($event)'>
  </da-admin-form>
</ng-template>

<ng-template #AgregarCliente>
  <div style="margin-left: 40px">
    <form dForm [layout]="layoutDirection" ngForm>
      <d-form-item>
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Nombre del Cliente.'">Nombre</d-form-label>
        <d-form-control>
          <div>
            <input dTextInput autocomplete="off" name="nombreCliente" [(ngModel)]='nombreCliente' maxlength='70' />
          </div>
        </d-form-control>
      </d-form-item>
      <d-form-item>
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'El RUC del Cliente.'">RUC</d-form-label>
        <d-form-control>
          <div>
            <input dTextInput autocomplete="off" name="RUCCliente" [(ngModel)]='rucCliente' maxlength='11'/>
          </div>
        </d-form-control>
      </d-form-item>
      <d-form-operation>
        <d-row>
          <d-col [dSpan]="8">
            <d-button bsStyle="primary" class="mr-element-spacing" style="margin-right: 4px" (click)='saveCliente()' >Grabar</d-button>
          </d-col>
          <d-col [dSpan]="4"/>
          <d-col [dSpan]="8"><d-button bsStyle="common"  (click)='onCloseCliente()'  >Cancelar</d-button></d-col>
          <d-col [dSpan]="2"/>
        </d-row>
      </d-form-operation>
    </form>
  </div>
</ng-template>

<ng-template #RelPlantaProveedor>
  <div style="margin-left: 40px">
    <form dForm ngForm>
      <d-form-item>
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Proveedor de Descarga'">Descarga</d-form-label>
        <d-form-control>
          <div>
            <d-select
              name="provDescarga"
              [options]="descargaPlanta"
              placeholder='Proveedor de Descarga'
              [filterKey]="'razonSocial'"
              [isSearch]="true"
              [readonly]="true"
              [(ngModel)]='seleccionadoDescPlanta'
              required='true'
            ></d-select>
          </div>
        </d-form-control>
      </d-form-item>
      <d-form-item/>
      <d-form-item>
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Proveedor de Comision'">Comisión</d-form-label>
        <d-form-control>
          <d-select
            name="provComision"
            [options]="comisionPlanta"
            placeholder="Proveedor Comisión"
            [filterKey]="'razonSocial'"
            [isSearch]="true"
            [readonly]="true"
            [(ngModel)]='seleccionadoComPlanta'
            required='true'
          ></d-select>
        </d-form-control>
      </d-form-item>
      <d-form-item/>
      <d-form-item/>
      <d-form-operation>
        <d-row>
          <d-col [dSpan]="8">
            <d-button bsStyle="primary" class="mr-element-spacing" (click)='grabarRel()' style="margin-right: 4px" >Grabar</d-button>
          </d-col>
          <d-col [dSpan]="4"/>
          <d-col [dSpan]="8"><d-button bsStyle="common"  (click)='onCancelado()'  >Cancelar</d-button></d-col>
          <d-col [dSpan]="2"/>
        </d-row>
      </d-form-operation>
    </form>
  </div>
</ng-template>
