<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
      ><a routerLink="/">SISCOPE</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Transacciones </d-breadcrumb-item>
      <d-breadcrumb-item>Gastos Embarcación</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">
      Gastos por Embarcación
    </div>
    <div>Gastos por <strong>Embarcación</strong></div>
  </div>

  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-list-container">
        <div class="da-list-header">

            <h3>Embarcación：</h3>


            <d-select
              [placeholder]="'Seleccione la Embarcación'"
              [options]='embarcaciones'
              [overview]="'underlined'"
              size='lg'
              [filterKey]="'nombre'"
              [isSearch]="true"
              [readonly]="true"
              [(ngModel)]='embarcacion'
              style='width: 20em'
            ></d-select>

            <h3>Semana：</h3>


            <d-select
              [placeholder]="'Seleccione la Semana'"
              [options]='semanas'
              [overview]="'underlined'"
              size='lg'
              [filterKey]="'nombreCompleto'"
              [isSearch]="true"
              [readonly]="true"
              [(ngModel)]='semana'
              style='width: 20em'
            ></d-select>
          <div style='width: 20%'></div>

          <div class="header-right">
            <d-button icon="icon-edit" (click)='buscarGastos()'>Buscar</d-button>&nbsp;
            <d-button icon="icon-edit" (click)='limpiarGastos()'>Limpiar</d-button>&nbsp;
          </div>

        </div>
      </div>
    </da-col-item>
    <!--Hielo-->
    <da-col-item [daSpan]="24" [daXs]="24" *ngIf='visible'>
      <div class="da-content-card da-form-card">
        <div class="da-content-title da-form-card-title">
          <h4>Hielo</h4>
        </div>
        <div class="list-content" dLoading [loadingStyle]="'infinity'" [backdrop]="true" [message]="'Espere un momento...'" >
          <d-data-table
            [dataSource]="hielo"
            [scrollable]="true"
          >
            <thead dTableHead>
            <tr dTableRow>
              <th dHeadCell>Dia</th>
              <th dHeadCell>Fecha</th>
              <th dHeadCell>Proveedor</th>
              <th dHeadCell>Precio x Und</th>
              <th dHeadCell>Cantidad</th>
              <th dHeadCell>Total</th>
            </tr>
            </thead>
            <tbody dTableBody>
              <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                <tr dTableRow>
                  <td
                    dTableCell
                    [rowItem]="rowItem"
                    [field]="'nombreDia'"
                  >
                    <span *ngIf="true">{{ rowItem?.nombreDia }}</span>
                    <div *ngIf="false" class="edit-padding-fix">
                      <input
                        class="devui-form-control"
                        name="id"
                        [(ngModel)]="rowItem.nombreDia"
                        [attr.maxlength]="100"
                        [attr.minlength]="3"
                      />
                    </div>
                  </td>

                  <td
                    dTableCell
                    [rowItem]="rowItem"
                    [field]="'idDiaString'"
                  >
                    <span *ngIf="true">{{ rowItem?.idDiaString }}</span>
                    <div *ngIf="false" class="edit-padding-fix">
                      <input
                        class="devui-form-control"
                        name="idDiaString"
                        [(ngModel)]="rowItem.idDiaString"
                        [attr.maxlength]="100"
                        [attr.minlength]="3"
                      />
                    </div>
                  </td>

                  <td
                    dTableCell
                    [editable]="true"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['priorityEdit']"
                    [rowItem]="rowItem"
                    [field]="'idProveedor'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                      <span *ngIf="!rowItem['priorityEdit']"
                      ><d-tag
                        [tag]="rowItem?.idProveedor.razonSocial"
                      ></d-tag
                      ></span>
                    <div
                      *ngIf="rowItem['priorityEdit']"
                      class="edit-padding-fix"
                    >
                      <d-select
                        name="idProveedor"
                        [(ngModel)]="rowItem.idProveedor"
                        [options]="proveedorHielo"
                        [filterKey]="'razonSocial'"
                        (selectionchange)='cambiaProvHielo(rowItem, rowIndex)'
                      ></d-select>
                    </div>
                  </td>

                  <td
                    dTableCell
                    [rowItem]="rowItem"
                    [field]="'precioCadena'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span >{{ rowItem?.precioCadena }}</span>
                  </td>

                  <td
                    dTableCell
                    [editable]="true"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['idEdit']"
                    [rowItem]="rowItem"
                    [field]="'cantidad'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span *ngIf="!rowItem['idEdit']">{{ rowItem?.cantidad }}</span>
                    <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                      <input
                        class="devui-form-control"
                        name="cantidad"
                        [(ngModel)]="rowItem.cantidad"
                        [attr.maxlength]="100"
                        [attr.minlength]="3"
                        (keyup)='onKeyUp($event, rowItem, rowIndex)'
                      />
                    </div>
                  </td>

                  <td
                    dTableCell
                    [editable]="true"
                    [editableTip]="editableTip"
                    [(editing)]="rowItem['idEdit']"
                    [rowItem]="rowItem"
                    [field]="'total'"
                    [beforeEditStart]="beforeEditStart"
                    [beforeEditEnd]="beforeEditEnd"
                  >
                    <span *ngIf="!rowItem['idEdit']">{{ rowItem?.total }}</span>
                    <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                      <input
                        class="devui-form-control"
                        name="idDiaString"
                        [(ngModel)]="rowItem.total"
                        [attr.maxlength]="100"
                        [attr.minlength]="3"
                      />
                    </div>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </d-data-table>
        </div>
      </div>
    </da-col-item>
    <!--Petroleo-->
    <da-col-item [daSpan]="24" [daXs]="24" *ngIf='visible'>
      <div class="da-content-card da-form-card">
        <div class="da-content-title da-form-card-title">
          <h4>Petroleo</h4>
        </div>
        <div class="list-content" dLoading [loadingStyle]="'infinity'" [backdrop]="true" [message]="'Espere un momento...'" >
          <d-data-table
            [dataSource]="petroleo"
            [scrollable]="true"
          >
            <thead dTableHead>
            <tr dTableRow>
              <th dHeadCell>Dia</th>
              <th dHeadCell>Fecha</th>
              <th dHeadCell>Proveedor</th>
              <th dHeadCell>Precio x Und</th>
              <th dHeadCell>Cantidad</th>
              <th dHeadCell>Total</th>
            </tr>
            </thead>
            <tbody dTableBody>
            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
              <tr dTableRow>
                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'nombreDia'"
                >
                  <span *ngIf="true">{{ rowItem?.nombreDia }}</span>
                  <div *ngIf="false" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="id"
                      [(ngModel)]="rowItem.nombreDia"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'idDiaString'"
                >
                  <span *ngIf="true">{{ rowItem?.idDiaString }}</span>
                  <div *ngIf="false" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="idDiaString"
                      [(ngModel)]="rowItem.idDiaString"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['priorityEdit']"
                  [rowItem]="rowItem"
                  [field]="'idProveedor'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                      <span *ngIf="!rowItem['priorityEdit']"
                      ><d-tag
                        [tag]="rowItem?.idProveedor.razonSocial"
                      ></d-tag
                      ></span>
                  <div
                    *ngIf="rowItem['priorityEdit']"
                    class="edit-padding-fix"
                  >
                    <d-select
                      name="idProveedor"
                      [(ngModel)]="rowItem.idProveedor"
                      [options]="proveedorPetroleo"
                      [filterKey]="'razonSocial'"
                      (selectionchange)='cambiaProvHielo(rowItem, rowIndex)'
                    ></d-select>
                  </div>
                </td>

                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'precioCadena'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span >{{ rowItem?.precioCadena }}</span>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'cantidad'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.cantidad }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="cantidad"
                      [(ngModel)]="rowItem.cantidad"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                      (keyup)='onKeyUp($event, rowItem, rowIndex)'
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'total'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.total }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="idDiaString"
                      [(ngModel)]="rowItem.total"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>
              </tr>
            </ng-template>
            </tbody>
          </d-data-table>
        </div>
      </div>
    </da-col-item>
    <!--Viveres-->
    <da-col-item [daSpan]="24" [daXs]="24" *ngIf='visible'>
      <div class="da-content-card da-form-card">
        <div class="da-content-title da-form-card-title">
          <h4>Viveres</h4>
        </div>
        <div class="list-content" dLoading [loadingStyle]="'infinity'" [backdrop]="true" [message]="'Espere un momento...'" >
          <d-data-table
            [dataSource]="viveres"
            [scrollable]="true"
          >
            <thead dTableHead>
            <tr dTableRow>
              <th dHeadCell>Dia</th>
              <th dHeadCell>Fecha</th>
              <th dHeadCell>Proveedor</th>
              <th dHeadCell>Precio</th>
              <th dHeadCell>Cantidad</th>
              <th dHeadCell>Total</th>
            </tr>
            </thead>
            <tbody dTableBody>
            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
              <tr dTableRow>
                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'nombreDia'"
                >
                  <span *ngIf="true">{{ rowItem?.nombreDia }}</span>
                  <div *ngIf="false" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="id"
                      [(ngModel)]="rowItem.nombreDia"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'idDiaString'"
                >
                  <span *ngIf="true">{{ rowItem?.idDiaString }}</span>
                  <div *ngIf="false" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="id"
                      [(ngModel)]="rowItem.idDiaString"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'idProveedor'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.idProveedor }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="idProveedor"
                      [(ngModel)]="rowItem.idProveedor"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'precio'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.precio }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="precio"
                      [(ngModel)]="rowItem.precio"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'cantidad'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.cantidad }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="cantidad"
                      [(ngModel)]="rowItem.cantidad"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'total'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.total }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="total"
                      [(ngModel)]="rowItem.total"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

              </tr>
            </ng-template>
            </tbody>
          </d-data-table>
        </div>
      </div>
    </da-col-item>
    <!--Otros-->
    <da-col-item [daSpan]="24" [daXs]="24" *ngIf='visible'>
      <div class="da-content-card da-form-card">
        <div class="da-content-title da-form-card-title">
          <h4>Otro</h4>
        </div>
        <div class="list-content" dLoading [loadingStyle]="'infinity'" [backdrop]="true" [message]="'Espere un momento...'" >
          <d-data-table
            [dataSource]="otros"
            [scrollable]="true"
          >
            <thead dTableHead>
            <tr dTableRow>
              <th dHeadCell>Dia</th>
              <th dHeadCell>Fecha</th>
              <th dHeadCell>Proveedor</th>
              <th dHeadCell>Precio</th>
              <th dHeadCell>Cantidad</th>
              <th dHeadCell>Total</th>
            </tr>
            </thead>
            <tbody dTableBody>
            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
              <tr dTableRow>
                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'nombreDia'"
                >
                  <span *ngIf="true">{{ rowItem?.nombreDia }}</span>
                  <div *ngIf="false" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="id"
                      [(ngModel)]="rowItem.nombreDia"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [rowItem]="rowItem"
                  [field]="'idDiaString'"
                >
                  <span *ngIf="true">{{ rowItem?.idDiaString }}</span>
                  <div *ngIf="false" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="id"
                      [(ngModel)]="rowItem.idDiaString"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'idProveedor'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.idProveedor }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="idProveedor"
                      [(ngModel)]="rowItem.idProveedor"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'precio'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.precio }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="precio"
                      [(ngModel)]="rowItem.precio"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'cantidad'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.cantidad }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="cantidad"
                      [(ngModel)]="rowItem.cantidad"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

                <td
                  dTableCell
                  [editable]="true"
                  [editableTip]="editableTip"
                  [(editing)]="rowItem['idEdit']"
                  [rowItem]="rowItem"
                  [field]="'total'"
                  [beforeEditStart]="beforeEditStart"
                  [beforeEditEnd]="beforeEditEnd"
                >
                  <span *ngIf="!rowItem['idEdit']">{{ rowItem?.total }}</span>
                  <div *ngIf="rowItem['idEdit']" class="edit-padding-fix">
                    <input
                      class="devui-form-control"
                      name="total"
                      [(ngModel)]="rowItem.total"
                      [attr.maxlength]="100"
                      [attr.minlength]="3"
                    />
                  </div>
                </td>

              </tr>
            </ng-template>
            </tbody>
          </d-data-table>
        </div>
      </div>
    </da-col-item>
  </da-layout-row>

</div>
