<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
      ><a routerLink="/">SISCOPE</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Transacciones </d-breadcrumb-item>
      <d-breadcrumb-item>Gastos Embarcación</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">
      Gastos por Embarcación
    </div>
    <div>Gastos por <strong>Embarcación</strong></div>
  </div>

  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-list-container">
        <div class="da-list-header">
            <h3>Embarcación：</h3>
            <d-select
              [disabled]='nuevoDetalle'
              [placeholder]="'Seleccione la Embarcación'"
              [options]='embarcaciones'
              [overview]="'underlined'"
              size='lg'
              [filterKey]="'nombre'"
              [isSearch]="true"
              [readonly]="true"
              [(ngModel)]='embarcacion'
              (ngModelChange)="onEmbarcacionChange($event)"
              style='width: 20em'
            ></d-select>

            <h3>Semana：</h3>
            <d-select
              [disabled]='nuevoDetalle'
              [placeholder]="'Seleccione la Semana'"
              [options]='semanas'
              [overview]="'underlined'"
              size='lg'
              [filterKey]="'nombreCompleto'"
              [isSearch]="true"
              [readonly]="true"
              [(ngModel)]='semana'
              (ngModelChange)="onSemanaChange($event)"
              style='width: 20em'
              [width]="300"
              [appendToBody]="true"
              [appendToBodyDirections]="['leftDown', 'leftUp']"
            ></d-select>
          <h3>Producto：</h3>
          <d-select
            [disabled]='nuevoDetalle'
            [placeholder]="'Seleccione el Producto'"
            [options]='productos'
            [overview]="'underlined'"
            size='lg'
            [filterKey]="'nombreProducto'"
            [isSearch]="true"
            [readonly]="true"
            [(ngModel)]='producto'
            [multiple]='true'
            (ngModelChange)="onProductoChange($event)"
            style='width: 20em'
          ></d-select>

          <div class="header-right">
            <d-button icon="icon-add-file" (click)='buscarGastos()' *ngIf='!nuevoDetalle'>Nuevo</d-button>&nbsp;
            <d-button icon="icon-refresh" (click)='getAllGastosEmb()' *ngIf='!nuevoDetalle'>Refrescar</d-button>&nbsp;

            <d-button icon="icon-save" (click)='grabarGastos()'
                      *ngIf='nuevoDetalle'>Grabar</d-button>&nbsp;
            <d-button icon="icon-undo" (click)='limpiarGastos()' *ngIf='nuevoDetalle' >Volver</d-button>&nbsp;
          </div>

        </div>
      </div>
    </da-col-item>

    <div *ngIf='!nuevoDetalle'>
      <div class="da-content-wrapper">
        <da-layout-row [daGutter]="[24, 24]">
          <da-col-item [daSpan]="24" [daXs]="24">
            <div class="da-list-container">
              <div class="list-content" dLoading [loading]="busy" [loadingStyle]="'infinity'" [backdrop]="true" [message]="'Espere un momento...'" >
                <d-data-table
                  [dataSource]="basicDataSource"
                  [scrollable]="true"
                  [striped]="true"
                  [headerBg]="true"
                  [resizeable]='true'
                  [tableLayout]="'auto'"
                >
                  <d-column field="semana" header="Semana" [width]="'200px'">
                    <d-cell>
                      <ng-template let-cellItem="cellItem">
                        {{ cellItem.nombreCompleto }}
                      </ng-template>
                    </d-cell>
                  </d-column>
                  <d-column field="embarcacion" header="Embarcación" [width]="'150px'">
                    <d-cell>
                      <ng-template let-cellItem="cellItem">
                        {{ cellItem.nombre }}
                      </ng-template>
                    </d-cell>
                  </d-column>
                  <d-column field="idTipoServicio" header="Producto" [width]="'100px'">
                    <d-cell>
                      <ng-template let-cellItem="cellItem">
                            <span [title]="cellItem.idDia" class="over-flow-ellipsis" [style.width]="'80px'">
                              {{ cellItem==3?"Hielo":cellItem==2?"Petroleo":"Viveres" }}
                            </span>
                      </ng-template>
                    </d-cell>
                  </d-column>
                  <d-column field="total" header="Total (S/.)" [width]="'100px'">
                    <d-cell>
                      <ng-template let-cellItem="cellItem">
                            <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'80px'"  style="text-align: right;">
                              {{ cellItem.toFixed(2) }}
                            </span>
                      </ng-template>
                    </d-cell>
                  </d-column>

                  <d-column field="Actions" header="Acciones" [width]="'150px'">
                    <d-cell>
                      <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                        <d-icon icon="icon-edit" (click)="editRow(rowItem, rowIndex)" dIconLink>
                          <a iconSuffix class="devui-link" href="" ></a>
                        </d-icon>
                        &nbsp;
                        <d-icon icon="icon-delete" (click)="deleteRow(rowItem, rowIndex)" dIconLink>
                          <a iconSuffix class="devui-link" href=""></a>
                        </d-icon>
                      </ng-template>
                    </d-cell>
                  </d-column>
                </d-data-table>
              </div>
              <div class="da-list-footer">
                <d-pagination
                  [size]="'sm'"
                  [canViewTotal]="true"
                  [canChangePageSize]="true"
                  [canJumpPage]="true"
                  [maxItems]="5">
                </d-pagination>
              </div>
            </div>
          </da-col-item>
        </da-layout-row>
      </div>
    </div>

    <!--Hielo-->
    <div *ngIf='nuevoDetalle && buscarProductoSeleccionado(3)' [style.pointer-events]="this.hielos.value['semana'].estado? 'auto' : 'none'" >
    <!--Hielo-->
      <div class="da-content-wrapper">
      <da-layout-row [daGutter]="[24, 24]">
        <da-col-item [daSpan]="24" [daXs]="24">
          <div class="da-list-container"  dLoading >
            <h2 [style.background-color]="this.hielos.value['semana'].estado? 'white' : 'yellow'">&nbsp;&nbsp;Hielo {{ !this.hielos.value['semana'].estado?' - SOLO LECTURA (Semana Cerrada)':'' }} </h2>
            <div class="da-list-content">
              <d-data-table
                #dataTable
                [dataSource]="valores.controls"
                [scrollable]="false"
              >
                <thead dTableHead>
                <tr dTableRow>
                  <th dHeadCell [width]="'7.5%'" >Dia</th>
                  <th dHeadCell [width]="'7.5%'" >Fecha</th>
                  <th dHeadCell [width]="'22.22%'" >Proveedor</th>
                  <th dHeadCell [width]="'11.11%'">Precio x Und</th>
                  <th dHeadCell [width]="'11.11%'">Cantidad</th>
                  <th dHeadCell [width]="'11.11%'">Total</th>
                  <th dHeadCell [width]="'20%'">Semana<br>Relacionada</th>
                  <th dHeadCell>Validar</th>
                </tr>
                </thead>
                <tbody dTableBody>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <tr dTableRow>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'nombreDia'"
                      >
                        <span>{{ rowItem.value.nombreDia }}</span>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'idDiaString'"
                      >
                        <span>{{ rowItem.value.idDiaString }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'idProveedor'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.idProveedor.razonSocial"
                        [labelStyle]="rowItem.value.idProveedor.razonSocial"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          <d-select
                            name="idProveedor"
                            [(ngModel)]="rowItem.value.idProveedor"
                            [options]="proveedorHielo"
                            [filterKey]="'razonSocial'"
                            (ngModelChange)="onProveedorHieloChange($event, rowIndex, rowItem)"
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.precio"
                        [labelStyle]="rowItem.value.precio"
                      ></d-tag
                      ></span>

                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          {{  rowItem.value.monedaString }}
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.precio"
                                          (ngModelChange)="onPrecioHieloChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.cantidad"
                        [labelStyle]="rowItem.value.cantidad"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.cantidad"
                                          (ngModelChange)="onCantidadHieloChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'total'"
                        style="text-align: right;">
                        <span >{{  rowItem.value.monedaString }} {{ formatearDecimales(rowItem.value.total,3) }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'semanaRel'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.total"
                      ><d-tag *ngIf="rowItem.value.idProveedorItem"
                              [tag]="rowItem.value.semanaRel.nombreCompleto"
                              [labelStyle]="'semanaRel'"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.total"
                          class="edit-padding-fix"
                        >
                          <d-select
                            [options]='semanas'
                            [filterKey]="'nombreCompleto'"
                            [isSearch]="true"
                            [readonly]="true"
                            [(ngModel)]='rowItem.value.semanaRel'
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                      >
                        <d-icon
                          class="pipeline-watch"
                          [color]="rowItem.value.idProveedorItem ? 'var(--devui-warning)' : ''"
                          [icon]="rowItem.value.idProveedorItem ? 'icon-star' : 'icon-star-o'"
                          [operable]="true"
                        >
                        </d-icon>
                        <d-icon icon="icon-delete" (click)="deleteRow(rowItem, rowIndex)"
                                 dIconLink>
                          <a iconSuffix class="devui-link" href=""></a>
                        </d-icon>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </d-data-table>
            </div>
          </div>
        </da-col-item>
      </da-layout-row>
    </div>

    </div>

    <!--Petroleo-->
    <div *ngIf='nuevoDetalle && buscarProductoSeleccionado(2)' [style.pointer-events]="this.petroleos.value['semana'].estado? 'auto' : 'none'" >
      <!--Petroleo-->
      <div class="da-content-wrapper">
        <da-layout-row [daGutter]="[24, 24]">
          <da-col-item [daSpan]="24" [daXs]="24">
            <div class="da-list-container" dLoading >
              <h2 [style.background-color]="this.petroleos.value['semana'].estado? 'white' : 'yellow'">&nbsp;&nbsp;Petroleo {{ !this.petroleos.value['semana'].estado?' - SOLO LECTURA (Semana Cerrada)':'' }} </h2>
              <div class="da-list-content">
                <d-data-table
                  #dataTable
                  [dataSource]="valPetroleo.controls"
                  [scrollable]="true"
                >
                  <thead dTableHead>
                  <tr dTableRow>
                    <th dHeadCell [width]="'7.5%'" >Dia</th>
                    <th dHeadCell [width]="'7.5%'" >Fecha</th>
                    <th dHeadCell [width]="'22.22%'" >Proveedor</th>
                    <th dHeadCell [width]="'11.11%'">Precio x Und</th>
                    <th dHeadCell [width]="'11.11%'">Cantidad</th>
                    <th dHeadCell [width]="'11.11%'">Total</th>
                    <th dHeadCell [width]="'20%'">Semana<br>Relacionada</th>
                    <th dHeadCell>Validar</th>
                  </tr>
                  </thead>
                  <tbody dTableBody>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <tr dTableRow>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'nombreDia'"
                      >
                        <span>{{ rowItem.value.nombreDia }}</span>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'idDiaString'"
                      >
                        <span>{{ rowItem.value.idDiaString }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'idProveedor'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.idProveedor.razonSocial"
                        [labelStyle]="rowItem.value.idProveedor.razonSocial"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          <d-select
                            name="idProveedor"
                            [(ngModel)]="rowItem.value.idProveedor"
                            [options]="proveedorPetroleo"
                            [filterKey]="'razonSocial'"
                            (ngModelChange)="onProveedorPetroleoChange($event, rowIndex, rowItem)"
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.precio"
                        [labelStyle]="rowItem.value.precio"
                      ></d-tag
                      ></span>

                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          {{  rowItem.value.monedaString }}
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.precio"
                                          (ngModelChange)="onPrecioPetroleoChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.cantidad"
                        [labelStyle]="rowItem.value.cantidad"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.cantidad"
                                          (ngModelChange)="onCantidadPetroleoChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'total'"
                      >
                        <span>{{  rowItem.value.monedaString }} {{ formatearDecimales(rowItem.value.total,3) }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'semanaRel'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.total"
                      ><d-tag *ngIf="rowItem.value.idProveedorItem"
                              [tag]="rowItem.value.semanaRel.nombreCompleto"
                              [labelStyle]="'semanaRel'"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.total"
                          class="edit-padding-fix"
                        >
                          <d-select
                            [options]='semanas'
                            [filterKey]="'nombreCompleto'"
                            [isSearch]="true"
                            [readonly]="true"
                            [(ngModel)]='rowItem.value.semanaRel'
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                      >
                        <d-icon
                          class="pipeline-watch"
                          [color]="rowItem.value.idProveedorItem ? 'var(--devui-warning)' : ''"
                          [icon]="rowItem.value.idProveedorItem ? 'icon-star' : 'icon-star-o'"
                          [operable]="true"
                        >
                        </d-icon>
                        <d-icon icon="icon-delete" (click)="deleteRow(rowItem, rowIndex)"
                                dIconLink>
                          <a iconSuffix class="devui-link" href=""></a>
                        </d-icon>
                      </td>
                    </tr>
                  </ng-template>
                  </tbody>
                </d-data-table>
              </div>
            </div>
          </da-col-item>
        </da-layout-row>
      </div>
    </div>

    <!--Viveres-->
    <div *ngIf='nuevoDetalle && buscarProductoSeleccionado(17)' [style.pointer-events]="this.viveres.value['semana'].estado? 'auto' : 'none'" >
      <!--Viveres-->
      <div class="da-content-wrapper">
        <da-layout-row [daGutter]="[24, 24]">
          <da-col-item [daSpan]="24" [daXs]="24">
            <div class="da-list-container" dLoading >
              <h2 [style.background-color]="this.viveres.value['semana'].estado? 'white' : 'yellow'">&nbsp;&nbsp;Viveres {{ !this.viveres.value['semana'].estado?' - SOLO LECTURA (Semana Cerrada)':'' }} </h2>
              <div class="da-list-content">
                <d-data-table
                  #dataTable
                  [dataSource]="valViveres.controls"
                  [scrollable]="true"
                >
                  <thead dTableHead>
                  <tr dTableRow>
                    <th dHeadCell [width]="'7.5%'" >Dia</th>
                    <th dHeadCell [width]="'7.5%'" >Fecha</th>
                    <th dHeadCell [width]="'22.22%'" >Proveedor</th>
                    <th dHeadCell [width]="'11.11%'">Precio x Und</th>
                    <th dHeadCell [width]="'11.11%'">Cantidad</th>
                    <th dHeadCell [width]="'11.11%'">Total</th>
                    <th dHeadCell [width]="'20%'">Semana<br>Relacionada</th>
                    <th dHeadCell>Validar</th>
                  </tr>
                  </thead>
                  <tbody dTableBody>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <tr dTableRow>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'nombreDia'"
                      >
                        <span>{{ rowItem.value.nombreDia }}</span>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'idDiaString'"
                      >
                        <span>{{ rowItem.value.idDiaString }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'idProveedor'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.idProveedor.razonSocial"
                        [labelStyle]="rowItem.value.idProveedor.razonSocial"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          <d-select
                            name="idProveedor"
                            [(ngModel)]="rowItem.value.idProveedor"
                            [options]="proveedorViveres"
                            [filterKey]="'razonSocial'"
                            (ngModelChange)="onProveedorViveresChange($event, rowIndex, rowItem)"
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.precio"
                        [labelStyle]="rowItem.value.precio"
                      ></d-tag
                      ></span>

                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          {{  rowItem.value.monedaString }}
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.precio"
                                          (ngModelChange)="onPrecioViveresChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.cantidad"
                        [labelStyle]="rowItem.value.cantidad"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.cantidad"
                                          (ngModelChange)="onCantidadViveresChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'total'"
                      >
                        <span>{{  rowItem.value.monedaString }} {{ formatearDecimales(rowItem.value.total,3) }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'semanaRel'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.total"
                      ><d-tag *ngIf="rowItem.value.idProveedorItem"
                              [tag]="rowItem.value.semanaRel.nombreCompleto"
                              [labelStyle]="'semanaRel'"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.total"
                          class="edit-padding-fix"
                        >
                          <d-select
                            [options]='semanas'
                            [filterKey]="'nombreCompleto'"
                            [isSearch]="true"
                            [readonly]="true"
                            [(ngModel)]='rowItem.value.semanaRel'
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                      >
                        <d-icon
                          class="pipeline-watch"
                          [color]="rowItem.value.idProveedorItem ? 'var(--devui-warning)' : ''"
                          [icon]="rowItem.value.idProveedorItem ? 'icon-star' : 'icon-star-o'"
                          [operable]="true"
                        >
                        </d-icon>
                        <d-icon icon="icon-delete" (click)="deleteRow(rowItem, rowIndex)"
                                dIconLink>
                          <a iconSuffix class="devui-link" href=""></a>
                        </d-icon>
                      </td>
                    </tr>
                  </ng-template>
                  </tbody>
                </d-data-table>
              </div>
            </div>
          </da-col-item>
        </da-layout-row>
      </div>
    </div>

    <!--Otros-->
    <div *ngIf='nuevoDetalle && buscarProductoSeleccionado(4)' [style.pointer-events]="this.otros.value['semana'].estado? 'auto' : 'none'" >
      <div class="da-content-wrapper">
        <da-layout-row [daGutter]="[24, 24]">
          <da-col-item [daSpan]="24" [daXs]="24">
            <div class="da-list-container" dLoading >
              <h2 [style.background-color]="this.otros.value['semana'].estado? 'white' : 'yellow'">&nbsp;&nbsp;Otros {{ !this.otros.value['semana'].estado?' - SOLO LECTURA (Semana Cerrada)':'' }} </h2>
              <div class="da-list-content">
                <d-data-table
                  #dataTable
                  [dataSource]="valOtros.controls"
                  [scrollable]="true"
                >
                  <thead dTableHead>
                  <tr dTableRow>
                    <th dHeadCell [width]="'7.5%'" >Dia</th>
                    <th dHeadCell [width]="'7.5%'" >Fecha</th>
                    <th dHeadCell [width]="'22.22%'" >Proveedor</th>
                    <th dHeadCell [width]="'11.11%'">Precio x Und</th>
                    <th dHeadCell [width]="'11.11%'">Cantidad</th>
                    <th dHeadCell [width]="'11.11%'">Total</th>
                    <th dHeadCell [width]="'20%'">Semana<br>Relacionada</th>
                    <th dHeadCell>Validar</th>
                  </tr>
                  </thead>
                  <tbody dTableBody>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <tr dTableRow>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'nombreDia'"
                      >
                        <span>{{ rowItem.value.nombreDia }}</span>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'idDiaString'"
                      >
                        <span>{{ rowItem.value.idDiaString }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'idProveedor'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.idProveedor.razonSocial"
                        [labelStyle]="rowItem.value.idProveedor.razonSocial"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          <d-select
                            name="idProveedor"
                            [(ngModel)]="rowItem.value.idProveedor"
                            [options]="proveedorViveres"
                            [filterKey]="'razonSocial'"
                            (ngModelChange)="onProveedorOtrosChange($event, rowIndex, rowItem)"
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.precio"
                        [labelStyle]="rowItem.value.precio"
                      ></d-tag
                      ></span>

                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          {{  rowItem.value.monedaString }}
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.precio"
                                          (ngModelChange)="onPrecioViveresChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.idProveedorItem"
                      ><d-tag
                        [tag]="rowItem.value.cantidad"
                        [labelStyle]="rowItem.value.cantidad"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.idProveedorItem"
                          class="edit-padding-fix"
                        >
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.cantidad"
                                          (ngModelChange)="onCantidadViveresChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'total'"
                      >
                        <span>{{  rowItem.value.monedaString }} {{ formatearDecimales(rowItem.value.total,3) }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem.value.idProveedorItem"
                        [rowItem]="rowItem"
                        [field]="'semanaRel'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem.value.total"
                      ><d-tag *ngIf="rowItem.value.idProveedorItem"
                              [tag]="rowItem.value.semanaRel.nombreCompleto"
                              [labelStyle]="'semanaRel'"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem.value.total"
                          class="edit-padding-fix"
                        >
                          <d-select
                            [options]='semanas'
                            [filterKey]="'nombreCompleto'"
                            [isSearch]="true"
                            [readonly]="true"
                            [(ngModel)]='rowItem.value.semanaRel'
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                      >
                        <d-icon
                          class="pipeline-watch"
                          [color]="rowItem.value.idProveedorItem ? 'var(--devui-warning)' : ''"
                          [icon]="rowItem.value.idProveedorItem ? 'icon-star' : 'icon-star-o'"
                          [operable]="true"
                        >
                        </d-icon>
                        <d-icon icon="icon-delete" (click)="deleteRow(rowItem, rowIndex)"
                                dIconLink>
                          <a iconSuffix class="devui-link" href=""></a>
                        </d-icon>
                      </td>
                    </tr>
                  </ng-template>
                  </tbody>
                </d-data-table>
              </div>
            </div>
          </da-col-item>
        </da-layout-row>
      </div>
    </div>

  </da-layout-row>

</div>
