<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
      ><a routerLink="/">SISCOPE</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Transacciones </d-breadcrumb-item>
      <d-breadcrumb-item>Gastos Embarcación</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">
      Gastos por Embarcación
    </div>
    <div>Gastos por <strong>Embarcación</strong></div>
  </div>

  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-list-container">
        <div class="da-list-header">

            <h3>Embarcación：</h3>


            <d-select
              [placeholder]="'Seleccione la Embarcación'"
              [options]='embarcaciones'
              [overview]="'underlined'"
              size='lg'
              [filterKey]="'nombre'"
              [isSearch]="true"
              [readonly]="true"
              [(ngModel)]='embarcacion'
              (ngModelChange)="onEmbarcacionChange($event)"
              style='width: 20em'
            ></d-select>

            <h3>Semana：</h3>


            <d-select
              [placeholder]="'Seleccione la Semana'"
              [options]='semanas'
              [overview]="'underlined'"
              size='lg'
              [filterKey]="'nombreCompleto'"
              [isSearch]="true"
              [readonly]="true"
              [(ngModel)]='semana'
              (ngModelChange)="onSemanaChange($event)"
              style='width: 20em'
            ></d-select>
          <div style='width: 20%'></div>

          <div class="header-right">
            <d-button icon="icon-edit" (click)='buscarGastos()'>Buscar</d-button>&nbsp;
            <d-button icon="icon-edit" (click)='limpiarGastos()'>Limpiar</d-button>&nbsp;
            <d-button icon="icon-edit" (click)='grabarGastos()'>Grabar</d-button>&nbsp;
          </div>

        </div>
      </div>
    </da-col-item>

    <!--Hielo-->
    <div class="da-content-wrapper">
      <da-layout-row [daGutter]="[24, 24]">
        <da-col-item [daSpan]="24" [daXs]="24">
          <div class="da-list-container" dLoading >
            <h2>&nbsp;&nbsp;&nbsp;Hielo</h2>
            <div class="da-list-content">
              <d-data-table
                #dataTable
                [dataSource]="valores.controls"
                [scrollable]="true"
              >
                <thead dTableHead>
                <tr dTableRow>
                  <th dHeadCell>Dia</th>
                  <th dHeadCell>Fecha</th>
                  <th dHeadCell>Proveedor</th>
                  <th dHeadCell>Precio x Und</th>
                  <th dHeadCell>Cantidad</th>
                  <th dHeadCell>Total</th>
                  <th dHeadCell>Validar</th>
                </tr>
                </thead>
                <tbody dTableBody>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <tr dTableRow>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'nombreDia'"
                      >
                        <span>{{ rowItem.value.nombreDia }}</span>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'idDiaString'"
                      >
                        <span>{{ rowItem.value.idDiaString }}</span>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem['idProveedorEdit']"
                        [rowItem]="rowItem"
                        [field]="'idProveedor'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem['idProveedorEdit']"
                      ><d-tag
                        [tag]="rowItem.value.idProveedor.razonSocial"
                        [labelStyle]="rowItem.value.idProveedor.razonSocial"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem['idProveedorEdit']"
                          class="edit-padding-fix"
                        >
                          <d-select
                            name="idProveedor"
                            [(ngModel)]="rowItem.value.idProveedor"
                            [options]="proveedorHielo"
                            [filterKey]="'razonSocial'"
                            (ngModelChange)="onProveedorChange($event, rowIndex, rowItem)"
                          ></d-select>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem['idProveedorEdit']"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem['idProveedorEdit']"
                      ><d-tag
                        [tag]="rowItem.value.precio"
                        [labelStyle]="rowItem.value.precio"
                      ></d-tag
                      ></span>

                        <div
                          *ngIf="rowItem['idProveedorEdit']"
                          class="edit-padding-fix"
                        >
                          {{  rowItem.value.monedaString }}
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.precio"
                                          (ngModelChange)="onPrecioChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [editable]="true"
                        [editableTip]="editableTip"
                        [(editing)]="rowItem['idProveedorEdit']"
                        [rowItem]="rowItem"
                        [field]="'precio'"
                        [beforeEditStart]="beforeEditStart"
                        [beforeEditEnd]="beforeEditEnd"
                      >
                      <span *ngIf="!rowItem['idProveedorEdit']"
                      ><d-tag
                        [tag]="rowItem.value.cantidad"
                        [labelStyle]="rowItem.value.cantidad"
                      ></d-tag
                      ></span>
                        <div
                          *ngIf="rowItem['idProveedorEdit']"
                          class="edit-padding-fix"
                        >
                          <d-input-number size="sm"
                                          [(ngModel)]="rowItem.value.cantidad"
                                          (ngModelChange)="onCantidadChange($event, rowIndex, rowItem)"
                                          class="input-number">
                          </d-input-number>
                        </div>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                        [field]="'total'"
                      >
                        <span>{{  rowItem.value.monedaString }} {{ rowItem.value.total }}</span>
                      </td>
                      <td
                        dTableCell
                        [rowItem]="rowItem"
                      >
                        <d-icon
                          class="pipeline-watch"
                          [color]="rowItem['idProveedorEdit'] ? 'var(--devui-warning)' : ''"
                          [icon]="rowItem['idProveedorEdit'] ? 'icon-star' : 'icon-star-o'"
                          [operable]="true"
                        >
                        </d-icon>
                        <d-icon icon="icon-delete" (click)="deleteRow(rowItem, rowIndex)"
                                 dIconLink>
                          <a iconSuffix class="devui-link" href=""></a>
                        </d-icon>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </d-data-table>
            </div>
          </div>
        </da-col-item>
      </da-layout-row>
    </div>
    <!--
        {{this.hielos.value | json}}
        -->

  </da-layout-row>

</div>
