<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
      ><a routerLink="/">SISCOPE</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Maestros</d-breadcrumb-item>
      <d-breadcrumb-item>Tipo de Cambio</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">
      Listado de Tipos de Cambio
    </div>
    <div>Lista de los <strong>Tipos de Cambio</strong> incluidos en el sistema</div>
  </div>
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <div class="da-header-item">
                <div class="da-header-item-label">Buscar：</div>
                <d-search style="width: 200px" [size]="'sm'" [autoFocus]="true" placeholder='Ingrese el texto' [isKeyupSearch]="true" [(ngModel)]="DatoABuscar" (searchFn)="onSearch($event)" ></d-search>
              </div>
            </div>
            <div class="header-right">
              <d-button icon="icon-edit" (click)="reset()">Limpiar</d-button>&nbsp;
              <d-button icon="icon-modify" (click)="modify()">Modificar</d-button>&nbsp;
              <d-button icon="icon-refresh" (click)="refresh()">Refrescar</d-button>
            </div>
          </div>

          <div class="list-content" dLoading [loading]="busy" [loadingStyle]="'infinity'" [backdrop]="true" [message]="'Espere un momento...'" >
            <d-data-table
              [dataSource]="basicDataSource"
              [scrollable]="true"
              [striped]="true"
              [headerBg]="true"
              [resizeable]='true'
              [tableLayout]="'auto'"
            >
              <d-column field="nombreDia" header="Dia" [width]="'200px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'200px'">
                      {{ cellItem  }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="id" header="Fecha" [width]="'200px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ getFecha(cellItem.idDia) }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="valorCambio" header="Valor Cambio" [width]="'200px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    <span [title]="cellItem" class="over-flow-ellipsis" [style.width]="'200px'">
                      {{ cellItem  }}
                    </span>
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="Actions" header="Acciones" [width]="'100px'">
                <d-cell>
                  <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                    <d-icon icon="icon-edit" (click)="editRow(rowItem, rowIndex)" dIconLink>
                      <a iconSuffix class="devui-link" href="" ></a>
                    </d-icon>
                  </ng-template>
                </d-cell>
              </d-column>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination
              [size]="'sm'"
              [total]="pager.total"
              [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex"
              [canViewTotal]="true"
              [canChangePageSize]="true"
              [canJumpPage]="true"
              [maxItems]="5"
              (pageIndexChange)="onPageChange($event)"
              (pageSizeChange)="onSizeChange($event)"
            >
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>

<ng-template #EditorTemplate>
  <da-admin-form [formConfig]="formConfig" [formData]="formData" (submitted)="onSubmitted($event)" (canceled)="onCanceled()">
  </da-admin-form>
</ng-template>

<ng-template #ModifyTemplate>
  <div>
    <section style="margin-left: 40px">
      <form dForm [layout]="layoutDirection">
        <div class="grid">
          <div class="u-1"><d-form-item></d-form-item></div>
          <div class="u-1-2">
            <d-form-item>
              <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Fecha de Inicio.'">Fecha Inicio</d-form-label>
              <d-form-control class="form-control-width">
                <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
                  <input
                    class="devui-input devui-form-control"
                    placeholder="dd/MM/y"
                    (click)="datePicker1.toggle()"
                    name="dp"
                    [(ngModel)]="fechaInicio"
                    [maxDate]="max"
                    [dateFormat]="'dd/MM/y'"
                    autocomplete="off"
                    dDatepicker
                    #datePicker1="datepicker"
                    (selectedDateChange)="getValue($event)"
                  />
                  <div *ngIf="fechaInicio" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker1.clearAll()">
                    <i class="icon icon-close"></i>
                  </div>
                  <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                    <i class="icon icon-calendar"></i>
                  </div>
                </div>
              </d-form-control>
            </d-form-item>
          </div>
          <div class="u-1-2">
            <d-form-item>
              <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Fecha Fin.'">Fecha Fin</d-form-label>
              <d-form-control class="form-control-width">
                <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
                  <input
                    class="devui-input devui-form-control"
                    placeholder="dd/MM/y"
                    (click)="datePicker2.toggle()"
                    name="dp2"
                    [(ngModel)]="fechaFin"
                    [maxDate]="max"
                    [dateFormat]="'dd/MM/y'"
                    autocomplete="off"
                    dDatepicker
                    #datePicker2="datepicker"
                    (selectedDateChange)="getValue($event)"
                  />
                  <div *ngIf="fechaFin" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker1.clearAll()">
                    <i class="icon icon-close"></i>
                  </div>
                  <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                    <i class="icon icon-calendar"></i>
                  </div>
                </div>
              </d-form-control>
            </d-form-item>
          </div>
          <div class="u-1"><d-form-item></d-form-item></div>
          <div class="u-1"><d-form-item></d-form-item></div>
          <div class="u-1"></div>
          <div class="u-1-2">
            <d-form-item>
              <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Valor del tipo de cambio.'">Valor</d-form-label>
              <d-form-control class="form-control-width">
                <d-input-number name="valorTC" [(ngModel)]='valorTC'/>
              </d-form-control>
            </d-form-item>
          </div>
          <div class="u-1-2">
          </div>
          <div class="u-1"><d-form-item></d-form-item></div>
          <div class="u-1"><d-form-item></d-form-item></div>
        </div>
        <d-form-operation>
          <d-button bsStyle="primary" class="mr-element-spacing" circled="true" (click)='grabar()' style="margin-right: 4px !important">Aceptar</d-button>
          <d-button bsStyle="common" circled="true" (click)='cancelar()'>Cancelar</d-button>
        </d-form-operation>
      </form>
    </section>
  </div>
</ng-template>

