<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
      ><a routerLink="/">SISCOPE</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Transacciones </d-breadcrumb-item>
      <d-breadcrumb-item>Pagos de los Bienes/Servicios</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">
      Pagos por Bienes Servicio
    </div>
    <div>Pagos por <strong>Bienes / Servicios</strong></div>
  </div>

  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-list-container">
        <div class="da-list-header">
          <h3>Producto：</h3>
          <d-select
            [placeholder]="'Seleccione el Producto'"
            [options]='productos'
            [overview]="'underlined'"
            size='lg'
            [filterKey]="'nombreProducto'"
            [isSearch]="true"
            [readonly]="true"
            [(ngModel)]='producto'
            [multiple]='false'
            style='width: 20em'
          ></d-select>

          <h3>Embarcación：</h3>
          <d-select
            [placeholder]="'Seleccione la Embarcación'"
            [options]='embarcaciones'
            [overview]="'underlined'"
            size='lg'
            [filterKey]="'nombre'"
            [isSearch]="true"
            [readonly]="true"
            [(ngModel)]='embarcacion'
            style='width: 20em'
          ></d-select>

          <h3>Semana：</h3>
          <d-select
            [placeholder]="'Seleccione la Semana'"
            [options]='semanas'
            [overview]="'underlined'"
            size='lg'
            [filterKey]="'nombreCompleto'"
            [isSearch]="true"
            [readonly]="true"
            [(ngModel)]='semana'
            style='width: 20em'
            [width]="300"
            [appendToBody]="true"
            [appendToBodyDirections]="['leftDown', 'leftUp']"
          ></d-select>

          <div class="header-right">
            <d-button icon="icon-add-file" (click)='buscarGastos()' >Buscar Gastos</d-button>&nbsp;
          </div>
        </div>
      </div>
    </da-col-item>



  </da-layout-row>


  <div>
    <div class="da-content-wrapper">
      <da-layout-row [daGutter]="[24, 24]">
        <da-col-item [daSpan]="24" [daXs]="24">
          <div class="da-list-container"  dLoading >
            <h2>&nbsp;&nbsp;Gastos </h2>
            <div class="da-list-content" dLoading [loading]="busy" [loadingStyle]="'infinity'" [backdrop]="true" [message]="'Espere un momento...'">
              <d-data-table
                [dataSource]="listaRegistroGasto"
                [tableWidthConfig]="tableWidthConfig"
                [scrollable]="true"
                [striped]="true"
                [headerBg]="true"
                [borderType]="'bordered'"
                [tableOverflowType]="'overlay'"
                [checkableRelation]='checkableRelation'
                [loadChildrenTable]='loadChildrenTable'
              >
                <thead dTableHead >
                <tr dTableRow>
                  <th dHeadCell>#</th>
                  <th dHeadCell>Bien/Servicio</th>
                  <th dHeadCell>Total Soles (S/.)</th>
                  <th dHeadCell>Total Dolares ($)</th>
                  <th dHeadCell>Acciones</th>
                </tr>
                </thead>
                <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedLayer="nestedLayer" let-nestedIndex="nestedIndex">
                  <tr dTableRow  >
                    <td dTableCell>{{ rowIndex + 1 }}</td>
                    <td dTableCell [width]="'30%'"
                        [nestedColumn]="true"
                        [nestedColumnIndent]="20"
                        [rowItem]="rowItem"
                        [nestedLayer]="nestedLayer"
                        [iconFoldTable]="iconParentOpen"
                        [iconUnFoldTable]="iconParentClose"
                    >
                      <strong *ngIf='rowItem["isParent"]'>
                        {{ rowItem["tipoServicio"]["nombreProducto"] }}
                      </strong>
                      <i *ngIf='!rowItem["isParent"]'>
                        {{ rowItem["tipoServicio"]["nombreProducto"] }}
                      </i>
                    </td>
                    <td dTableCell [width]="'25%'" style="text-align: right;"  >
                      <strong *ngIf='rowItem["isParent"]'>
                        {{ formatearDecimales(rowItem["totalSoles"],2) }}
                      </strong>
                      <i *ngIf='!rowItem["isParent"]'>
                        {{ formatearDecimales(rowItem["totalSoles"],2) }}
                      </i>
                    </td>
                    <td dTableCell [width]="'25%'" style="text-align: right;">
                      <strong *ngIf='rowItem["isParent"]'>
                        {{ formatearDecimales(rowItem["totalDolares"],2) }}
                      </strong>
                      <i *ngIf='!rowItem["isParent"]'>
                        {{ formatearDecimales(rowItem["totalDolares"],2) }}
                      </i>
                    </td>
                    <td dTableCell [width]="'20%'" style="text-align: center;">
                      <div class="btn-group">
                        <d-button (click)='grabarPagos(rowItem,rowIndex)' *ngIf='rowItem["isParent"]' icon="icon-buy" bsStyle="primary" [disabled]='rowItem["totalSoles"] + rowItem["totalDolares"] ==0?true:false'> Pagar </d-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </d-data-table>
            </div>

            <div class="da-list-footer" >
              <d-pagination
                [size]="'sm'"
                [total]="pager.total"
                [(pageSize)]="pager.pageSize"
                [(pageIndex)]="pager.pageIndex"
                [canViewTotal]="true"
                [canChangePageSize]="true"
                [canJumpPage]="true"
                [maxItems]="10"
                (pageIndexChange)="onPageChange($event)"
                (pageSizeChange)="onSizeChange($event)"
              >
              </d-pagination>
            </div>
          </div>
        </da-col-item>
      </da-layout-row>
    </div>

  </div>
</div>
