<section style="margin-left: 20px" >
  <form dForm [layout]="layoutDirection" [formGroup]="formDescarga"  >
    <div class="grid">
      <div class="u-1-4 box">

          <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Fecha de Descarga.'">Fecha</d-form-label>
          <d-form-control class="form-control-width">
            <div class="devui-input-group devui-dropdown-origin" dActiveFormControl>
              <input
                class="devui-input devui-form-control"
                placeholder="dd/MM/y"
                (click)="datePicker1.toggle()"
                name="dp"
                [(ngModel)]="today"
                [maxDate]="max"
                [dateFormat]="'dd/MM/y'"
                autocomplete="off"
                dDatepicker
                #datePicker1="datepicker"
                (selectedDateChange)="getValue($event)"
                formControlName='fecha'
              />
              <div *ngIf="today" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker1.clearAll()">
                <i class="icon icon-close"></i>
              </div>
              <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                <i class="icon icon-calendar"></i>
              </div>
            </div>
          </d-form-control>

      </div>
      <div class="u-1-4 box">
          <d-form-label [hasHelp]="true" [helpTips]="'Semana de Descarga.'">Semana</d-form-label>
          <d-form-control class="form-control-width">
            <input dTextInput name="semana"  formControlName='semana' />
          </d-form-control>
      </div>


      <div class="u-1-2 box">
          <d-form-label [required]="true">Embarcación</d-form-label>
          <d-form-control class="form-control-width">
            <d-select [options]="embarcaciones" name="embarcacion" [filterKey]="'nombre'" formControlName='embarcacion' ></d-select>
          </d-form-control>
      </div>


      <div class="u-1-2 box">
        <d-form-label [required]="true">Planta</d-form-label>
        <d-form-control class="form-control-width">
          <d-select [options]="plantas" name="planta" [filterKey]="'nombrePlanta'" formControlName='planta' ></d-select>
        </d-form-control>
      </div>
      <div class="u-1-4 box">
        <d-form-label [required]="true">Destino</d-form-label>
        <d-form-control class="form-control-width">
          <d-select [options]="destinos" name="destino" [filterKey]="'nombre'" formControlName='destino' ></d-select>
        </d-form-control>
      </div>
      <div class="u-1-4 box"></div>

      <div class="u-1-4 box">
          <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Caja Real'">Caja Real</d-form-label>
          <d-form-control class="form-control-width">
            <d-input-number name="cajaReal" formControlName="cajaReal" />
          </d-form-control>
      </div>

      <div class="u-1-4 box">
          <d-form-label [hasHelp]="true" [helpTips]="'Caja Guía'">Caja Guía</d-form-label>
          <d-form-control class="form-control-width">
            <d-input-number d name="cajaGuia" formControlName="cajaGuia"/>
          </d-form-control>
      </div>
      <div class="u-1-2 box"></div>

      <div class='u-1 box-title'><strong>COMPRA</strong></div>
      <div class="u-1-4 box">

          <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Total de Kg/Caja'">Kg/Caja</d-form-label>
          <d-form-control class="form-control-width">
            <d-input-number name="kgCajaCompra" formControlName='kgCajaCompra' />
          </d-form-control>

      </div>
      <div class="u-1-4 box">

          <d-form-label  [hasHelp]="true" [helpTips]="'# Cajas x Kg/Caja Compra'">Toneladas Compra</d-form-label>
          <d-form-control class="form-control-width">
            <input dTextInput name="toneladasCompra" formControlName='toneladasCompra' class='text-right' />
          </d-form-control>

      </div>
      <div class="u-1-4 box">

          <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Precio x Caja'">Precio</d-form-label>
          <d-form-control class="form-control-width">
            <d-input-number name="precioCompra" formControlName='precioCompra' />
          </d-form-control>

      </div>
      <div class="u-1-4 box">
        <d-form-label [required]="true">Moneda</d-form-label>
        <d-form-control class="form-control-width">
          <d-select [options]="monedas" name="monedaCompra" [filterKey]="'nombre'" formControlName='monedaCompra' ></d-select>
        </d-form-control>
      </div>

      <div class='u-1 box-title'><strong>VENTA</strong></div>
      <div class="u-1-4 box">

          <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Total de Kg/Caja'">Kg/Caja</d-form-label>
          <d-form-control class="form-control-width">
            <d-input-number name="kgCajaVenta" formControlName='kgCajaVenta'/>
          </d-form-control>

      </div>
      <div class="u-1-4 box">

          <d-form-label  [hasHelp]="true" [helpTips]="'# Cajas x Kg/Caja Venta'">Toneladas Venta</d-form-label>
          <d-form-control class="form-control-width">
            <input dTextInput name="toneladasVenta" formControlName='toneladasVenta' class='text-right' />
          </d-form-control>

      </div>
      <div class="u-1-4 box">
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Precio x Caja'">Precio</d-form-label>
        <d-form-control class="form-control-width">
          <d-input-number name="precioVenta" formControlName='precioVenta' />
        </d-form-control>
      </div>
      <div class="u-1-4 box">

          <d-form-label [required]="true">Moneda</d-form-label>
          <d-form-control class="form-control-width">
            <d-select [options]="monedas" name="monedaVenta" [filterKey]="'nombre'" formControlName='monedaVenta' ></d-select>
          </d-form-control>

      </div>



      <div class='u-1 box-title'><strong>FLETE</strong></div>
      <div class="u-1-4 box">
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Placa de la Cámara'">Cámara</d-form-label>
        <d-form-control class="form-control-width">
          <d-select [options]="camaras" name="camara" [filterKey]="'placa'" formControlName='camara'></d-select>
        </d-form-control>
      </div>
      <div class="u-1-4 box">
          <d-form-label [hasHelp]="true" [helpTips]="'Debe estar seleccionado la Planta'">Tarifa Flete</d-form-label>
          <d-form-control class="form-control-width">
            <input dTextInput name="tarifa" formControlName='tarifaFlete' class='text-right' />
          </d-form-control>
      </div>
      <div class="u-1-4 box">
          <d-form-label [hasHelp]="true" [helpTips]="'# Cajas x Tarifa'">Total Flete</d-form-label>
          <d-form-control class="form-control-width">
            <input dTextInput name="total" formControlName='totalFlete' class='text-right' />
          </d-form-control>
      </div>
      <div class="u-1-4 box">
          <d-form-label [hasHelp]="true" [helpTips]="'Dueño de la Cámara'">Proveedor</d-form-label>
          <d-form-control class="form-control-width">
            <input dTextInput name="proveedor" formControlName='proveedorFlete' />
          </d-form-control>
      </div>

      <div class="u-1-2 box-title">
        <d-form-label [required]="true">Muelle</d-form-label>
        <d-form-control class="form-control-width">
          <d-select [options]="muelles" name="muelle" [filterKey]="'razonSocial'" formControlName='muelle'></d-select>
        </d-form-control>
      </div>
      <div class="u-1-4 box">
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Precio del Tarifario x Eje'">{{ l_muelle }}</d-form-label>
        <d-form-control class="form-control-width">
          <d-input-number name="precioMuelle" formControlName='precioMuelle' />
        </d-form-control>
      </div>
      <div class="u-1-4 box">
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Renta'">{{  l_renta }}</d-form-label>
        <d-form-control class="form-control-width">
          <d-input-number name="precioRenta" formControlName='precioRenta' />
        </d-form-control>
      </div>

      <div class='u-1 box-title'><strong>GASTOS VINCULADOS</strong></div>
      <div class="u-1-5 box">
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Precio Habilitación'">{{ l_habilitacion }}</d-form-label>
        <d-form-control class="form-control-width">
          <d-input-number name="precioHabilitacion" formControlName='precioHabilitacion' />
        </d-form-control>
      </div>
      <div class="u-1-5 box">
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Precio Atraque'">{{  l_atraque }}</d-form-label>
        <d-form-control class="form-control-width">
          <d-input-number name="precioAtraque" formControlName='precioAtraque' />
        </d-form-control>
      </div>
      <div class="u-1-5 box">
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Precio Certificado'">{{  l_certificado }}</d-form-label>
        <d-form-control class="form-control-width">
          <d-input-number name="precioCertificado" formControlName='precioCertificado' />
        </d-form-control>
      </div>
      <div class="u-1-5 box">
        <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'Hielo Precio'">{{  l_hielo }}</d-form-label>
        <d-form-control class="form-control-width">
          <d-input-number name="precioHielo" formControlName='precioHielo' />
        </d-form-control>
      </div>
      <div class="u-1-5 box">
        <d-form-label [required]="true">Moneda Hielo</d-form-label>
        <d-form-control class="form-control-width">
          <d-select [options]="monedas" name="monedaHielo" [filterKey]="'nombre'" formControlName='monedaHielo' ></d-select>
        </d-form-control>
      </div>
    </div>

    <d-form-operation>
        <d-button bsStyle="primary" class='button-form'  circled="true"  (click)='grabar()'>Grabar</d-button>
        <d-button bsStyle="common" class='button-form-cancel' circled="true" (click)='salir()'>Cancelar</d-button>
    </d-form-operation>
  </form>
</section>

