@import "ng-devui/styles-var/devui-var.scss";
@import "src/app/@shared/styles/common.scss";


em.icon-select-arrow {
  transition: transform $devui-animation-duration-slow $devui-animation-ease-in-out-smooth;
  font-size: 14px;
  vertical-align: text-bottom;
  margin-right: 4px;

  &.open {
    transform: rotate(180deg);
  }
}

.da-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .da-header-right {
    margin-bottom: 12px;
  }
}

.text-right {
  text-align: right;
}

.box {
  //border: 5px solid darkblue;
  height: 5em;
  padding: 2%;
}

.box-title {
  //border: 5px solid darkblue;
  height: 1em;
  padding: 2%;
  display: block;
}

.box-button {
  border: 5px solid darkblue;

}

.button-form{
  bottom: 1em;
  right: 14em;
  position: fixed;
}

.button-form-cancel{
  bottom: 1em;
  right: 3em;
  position: fixed;
}

