<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="16">
      <div class="da-content-card">
        <div class="da-content-title">
          Estado Situacional del Negocio
        </div>
        <da-monitor-progress></da-monitor-progress>
      </div>
    </da-col-item>
    <da-col-item [daSpan]="24" [daXs]="8">
      <div class="da-content-card">
        <div class="da-content-title">
          Razón
        </div>
        <div class="da-echart-wrapper">
          <d-echarts [options]="monitorOptions" height="100%" (chartReady)="getOccupationChart($event)"></d-echarts>
        </div>
      </div>
    </da-col-item>
  </da-layout-row>
    <da-layout-row [daGutter]="[24, 24]" class="da-monitor-col">
      <da-col-item [daSpan]="24" [daXs]="12">
        <div class="da-content-card">
          <div class="da-content-title">
            Consumo Petroleo (Últimas 10 semanas)
          </div>
          <d-echarts [options]="serviceOptions" (chartReady)="getServiceChart($event)"></d-echarts>
        </div>
      </da-col-item>
      <da-col-item [daSpan]="24" [daXs]="12">
        <div class="da-content-card">
          <div class="da-content-title">
            Evolución Hielo (Últimas 10 semanas)
          </div>
          <d-echarts [options]="serviceOptions" (chartReady)="getServiceChart($event)"></d-echarts>
        </div>
      </da-col-item>
      <da-row-item [daFlex]="8">
        <div class="da-content-card">
          <div class="da-content-title">
            Evolución Otros (Últimas 10 semanas)
          </div>
          <d-echarts [options]="serviceOptions" (chartReady)="getServiceChart($event)" ></d-echarts>
        </div>
      </da-row-item>
    </da-layout-row>
</div>
